In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('train.csv')
df

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,45774419,8467,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,45769185,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19232,45798355,8467,-,MERCEDES-BENZ,CLK 200,1999,Coupe,Yes,CNG,2.0 Turbo,300000 km,4.0,Manual,Rear,02-Mar,Left wheel,Silver,5
19233,45778856,15681,831,HYUNDAI,Sonata,2011,Sedan,Yes,Petrol,2.4,161600 km,4.0,Tiptronic,Front,04-May,Left wheel,Red,8
19234,45804997,26108,836,HYUNDAI,Tucson,2010,Jeep,Yes,Diesel,2,116365 km,4.0,Automatic,Front,04-May,Left wheel,Grey,4
19235,45793526,5331,1288,CHEVROLET,Captiva,2007,Jeep,Yes,Diesel,2,51258 km,4.0,Automatic,Front,04-May,Left wheel,Black,4
19236,45813273,470,753,HYUNDAI,Sonata,2012,Sedan,Yes,Hybrid,2.4,186923 km,4.0,Automatic,Front,04-May,Left wheel,White,12

In [12]:
# df = df.drop(["Cylinders","Doors","Wheel"],axis=1)
df = df.drop(["Levy"],axis=1)
df

,Price,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Gear box type,Drive wheels,Color,Airbags
0,13328,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,Automatic,4x4,Silver,12
1,16621,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,Tiptronic,4x4,Black,8
2,8467,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,Variator,Front,Black,2
3,3607,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,Automatic,4x4,White,0
4,11726,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,Automatic,Front,Silver,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19232,8467,MERCEDES-BENZ,CLK 200,1999,Coupe,Yes,CNG,2.0 Turbo,300000 km,Manual,Rear,Silver,5
19233,15681,HYUNDAI,Sonata,2011,Sedan,Yes,Petrol,2.4,161600 km,Tiptronic,Front,Red,8
19234,26108,HYUNDAI,Tucson,2010,Jeep,Yes,Diesel,2,116365 km,Automatic,Front,Grey,4
19235,5331,CHEVROLET,Captiva,2007,Jeep,Yes,Diesel,2,51258 km,Automatic,Front,Black,4
19236,470,HYUNDAI,Sonata,2012,Sedan,Yes,Hybrid,2.4,186923 km,Automatic,Front,White,12

In [14]:
predict = "Price"
df = df[["Price","Manufacturer","Model","Prod. year","Category","Leather interior","Fuel type","Engine volume","Mileage",
"Gear box type","Drive wheels","Color","Airbags"]]

In [20]:
y = df[["Price"]]

In [23]:
x = df[["Manufacturer","Model","Prod. year","Category","Leather interior","Fuel type","Engine volume","Mileage",
"Gear box type","Drive wheels","Color","Airbags"]]

In [24]:
from sklearn.model_selection import train_test_split
Xtrain, Xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2)

In [25]:
Xtrain

,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Gear box type,Drive wheels,Color,Airbags
12580,CHEVROLET,Spark,2012,Hatchback,Yes,Petrol,1,160000 km,Automatic,Front,Blue,4
11655,HONDA,FIT,2003,Hatchback,No,Petrol,1.3,120000 km,Variator,Front,Beige,0
8142,FIAT,500 sport,2012,Coupe,Yes,Petrol,1.4,81000 km,Manual,Front,Red,8
4345,JEEP,Compass,2011,Jeep,Yes,Petrol,2.4,63570 km,Automatic,Front,White,4
14632,HONDA,Civic,2017,Sedan,Yes,Petrol,2,0 km,Automatic,Front,White,12
...,...,...,...,...,...,...,...,...,...,...,...,...
4217,MERCEDES-BENZ,C 300,2012,Sedan,Yes,Petrol,3,116722 km,Automatic,4x4,Silver,12
2645,TOYOTA,Tacoma,2019,Sedan,Yes,Petrol,3.5,17542 km,Automatic,Rear,Silver,12
3445,HYUNDAI,Sonata,2012,Sedan,Yes,Hybrid,2.4,226814 km,Automatic,Front,Black,0
2605,GMC,TERRAIN,2012,Jeep,Yes,Petrol,2.4,204048 km,Automatic,Front,Silver,12
6832,BMW,318,2002,Coupe,No,Petrol,2,222000 km,Manual,Rear,Silver,6

In [27]:
from sklearn.linear_model import LinearRegression
clf = LinearRegression()
clf.fit(Xtrain, ytrain)

ValueError: could not convert string to float: 'CHEVROLET'

In [28]:
from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor()
model.fit(Xtrain, ytrain)
predictions = model.predict(Xtest)

ValueError: could not convert string to float: 'CHEVROLET'

In [29]:
from sklearn.preprocessing import LabelBinarizer
  
# creating a copy of the
# original data frame
df1 = df.copy()
  
# creating an object 
# of the LabelBinarizer
label_binarizer = LabelBinarizer()
  
# fitting the column 
# TEMPERATURE to LabelBinarizer
label_binarizer_output = label_binarizer.fit_transform( df1[["Category","Leather interior","Fuel type","Gear box type",
"Drive wheels"]])
  
# creating a data frame from the object
result_df = pd.DataFrame(label_binarizer_output,
                         columns = label_binarizer.classes_)
  
display(result_df)

ValueError: Multioutput target data is not supported with label binarization

In [31]:
import pandas as pd
  
# creating a copy of the original data frame
df3 = df.copy()
  
# calling the get_dummies method
# the first parameter mentions the
# the name of the data frame to store the
# new data frame in
# the second parameter is the list of
# columns which if not mentioned
# returns the dummies for all
# categorical columns
df3 = pd.get_dummies(df3,
                     columns = ["Category","Leather interior","Fuel type","Gear box type",
"Drive wheels"])
  
display(df3)

,Price,Manufacturer,Model,Prod. year,Engine volume,Mileage,Color,Airbags,Category_Cabriolet,Category_Coupe,...,Fuel type_LPG,Fuel type_Petrol,Fuel type_Plug-in Hybrid,Gear box type_Automatic,Gear box type_Manual,Gear box type_Tiptronic,Gear box type_Variator,Drive wheels_4x4,Drive wheels_Front,Drive wheels_Rear
0,13328,LEXUS,RX 450,2010,3.5,186005 km,Silver,12,0,0,...,0,0,0,1,0,0,0,1,0,0
1,16621,CHEVROLET,Equinox,2011,3,192000 km,Black,8,0,0,...,0,1,0,0,0,1,0,1,0,0
2,8467,HONDA,FIT,2006,1.3,200000 km,Black,2,0,0,...,0,1,0,0,0,0,1,0,1,0
3,3607,FORD,Escape,2011,2.5,168966 km,White,0,0,0,...,0,0,0,1,0,0,0,1,0,0
4,11726,HONDA,FIT,2014,1.3,91901 km,Silver,4,0,0,...,0,1,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19232,8467,MERCEDES-BENZ,CLK 200,1999,2.0 Turbo,300000 km,Silver,5,0,1,...,0,0,0,0,1,0,0,0,0,1
19233,15681,HYUNDAI,Sonata,2011,2.4,161600 km,Red,8,0,0,...,0,1,0,0,0,1,0,0,1,0
19234,26108,HYUNDAI,Tucson,2010,2,116365 km,Grey,4,0,0,...,0,0,0,1,0,0,0,0,1,0
19235,5331,CHEVROLET,Captiva,2007,2,51258 km,Black,4,0,0,...,0,0,0,1,0,0,0,0,1,0
19236,470,HYUNDAI,Sonata,2012,2.4,186923 km,White,12,0,0,...,0,0,0,1,0,0,0,0,1,0

In [33]:
df3 = df3.drop(["Price","Manufacturer","Prod. year","Engine volume","Color","Airbags"],axis=1)
df3

,Model,Mileage,Category_Cabriolet,Category_Coupe,Category_Goods wagon,Category_Hatchback,Category_Jeep,Category_Limousine,Category_Microbus,Category_Minivan,...,Fuel type_LPG,Fuel type_Petrol,Fuel type_Plug-in Hybrid,Gear box type_Automatic,Gear box type_Manual,Gear box type_Tiptronic,Gear box type_Variator,Drive wheels_4x4,Drive wheels_Front,Drive wheels_Rear
0,RX 450,186005 km,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,1,0,0
1,Equinox,192000 km,0,0,0,0,1,0,0,0,...,0,1,0,0,0,1,0,1,0,0
2,FIT,200000 km,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,1,0,1,0
3,Escape,168966 km,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,1,0,0
4,FIT,91901 km,0,0,0,1,0,0,0,0,...,0,1,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19232,CLK 200,300000 km,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
19233,Sonata,161600 km,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
19234,Tucson,116365 km,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,1,0
19235,Captiva,51258 km,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,1,0
19236,Sonata,186923 km,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0

In [35]:
df3 = df3.drop(["Model","Mileage"],axis=1)
df3

KeyError: "['Model', 'Mileage'] not found in axis"

In [36]:
df3

,Category_Cabriolet,Category_Coupe,Category_Goods wagon,Category_Hatchback,Category_Jeep,Category_Limousine,Category_Microbus,Category_Minivan,Category_Pickup,Category_Sedan,...,Fuel type_LPG,Fuel type_Petrol,Fuel type_Plug-in Hybrid,Gear box type_Automatic,Gear box type_Manual,Gear box type_Tiptronic,Gear box type_Variator,Drive wheels_4x4,Drive wheels_Front,Drive wheels_Rear
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
1,0,0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,1,0,1,0,0
2,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,1,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19232,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
19233,0,0,0,0,0,0,0,0,0,1,...,0,1,0,0,0,1,0,0,1,0
19234,0,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
19235,0,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
19236,0,0,0,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,1,0

In [38]:
df4 = df[["Price","Prod. year","Engine volume","Airbags"]]

In [44]:
x =  df4[["Price","Prod. year","Airbags"]]

In [45]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.3)

In [46]:
X_test

       Price  Prod. year  Airbags
12549  23602        2012        4
840    14009        2012        4
2978    3607        2011       12
11952  10976        2000        8
1841   29950        2016        4
...      ...         ...      ...
1863   17249        2015        0
16922   7527        2012        6
12838  17249        2001        8
9001   18189        2008        0
10089  18817        2019       12

[5772 rows x 3 columns]

In [47]:
X_train

       Price  Prod. year  Airbags
3136   20297        2010        4
13130  10036        2007        8
2889   22545        2011        4
5961   26149        2013        4
6153    3920        2008        4
...      ...         ...      ...
4901   10976        2008        6
8729    8154        2012        2
11451  17719        2012        4
6220   15053        2006        6
13400     30        2006        4

[13465 rows x 3 columns]

In [48]:
from sklearn.linear_model import LinearRegression
clf = LinearRegression()
clf.fit(X_train, y_train)

LinearRegression()

In [49]:
clf.predict(X_test)

array([[23602.],
       [14009.],
       [ 3607.],
       ...,
       [17249.],
       [18189.],
       [18817.]])